# node_modules
# dist
# coverage
# .env
# .env.*
# *.log
# *.out
# *.err
# *.tmp
# *.bak
# *.old
# *.orig
# *.save
# .git
# .gitignore
# docker-compose.yml
# docker-compose.*.yml
# .vscode
# .idea
# .DS_Store
# Thumbs.db
# test
# apps/*/node_modules
# apps/*/dist
# apps/*/coverage
# apps/*/.env*
# apps/*/test
# apps/*/prisma/.env
# apps/*/prisma/migrations
# apps/*/prisma/migration_lock.toml
# libs/*/node_modules
# libs/*/dist
# libs/*/coverage
# libs/*/.env*
# libs/*/test
# prisma/.env
# prisma/migrations
# prisma/migration_lock.toml