PORT=1234
DATABASE_URL=postgresql://app:seubanco@postgres:5432/seubanco_dev
RABBITMQ_URL=amqp://guest:guest@rabbitmq:1234
NODE_ENV=development

# PORT: Porta em que o serviço irá rodar
# DATABASE_URL: String de conexão do banco de dados
# RABBITMQ_URL: URL de conexão do broker RabbitMQ
# NODE_ENV: Ambiente de execução (development, staging, production)